article{
    display: block;
    overflow: hidden;
    width: 800px;
    margin: auto;
}
.titledetail{
    line-height: 38px;
    color: black;
}
.article-content h2,
.article-content h3{
    margin: 20px auto;
    font-size: 16px;
    color: #333;
    line-height: 28px;
    font-weight: normal;
    text-transform: none;
    font-family: 'Roboto', sans-serif;
}
.article-content p{
    margin: 20px auto;
    font-size: 16px;
    color: #333;
    line-height: 28px;
}
.article-content ul li{
    font-size: 16px;
    color: #333;
    line-height: 30px;
}
.btv{
    display: block;
    margin-top: 10px;
}
.area-title{
    margin-bottom: 10px;
}
